.row{
    margin-top: 30px;
    margin-bottom: 30px;
}
.week {
    background-color: #c1ddc1;
    margin-right: 12px;
    padding: 2px;
    border-radius: 5px;
}

.col {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.links a{
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.links a:visited{
    color: black;
}

.links a:link{
    color: black;
}

.links a:visited{
    color: black;
}

.links a:hover{
    color: #FFFFFF;
}

.links{
    margin-top: 5px;
    margin-bottom: 5px;
}

.slides-a {
    background-color: #ff9b9b;
    margin-left: 65px;
}

.starter-code-a{
    background-color: #84cdee;
}

.checkoff-form-a{
    background-color: #df9152;
}

.solution-a{
    background-color: #90ee90;
}
